@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  padding: 40px 20px;
  background-image: linear-gradient(black, #102a56);
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
